/* =========================
   NAVBAR
========================= */
.navbar {
  background-color: #df949d;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left img {
  height: 35px;
}

.navbar-right {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.navbar-right a {
  color: #6f5e4f;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right a:hover {
  color: #f7efda;
}
